/*---[ Resets ]------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, big, em, img, q,
small, strong, tt, var, b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { border:0; margin:0; outline:0; padding:0; vertical-align:baseline }
h1, h2, h3, h4, h5, h6 { font-weight: normal }
a img, :link img, :visited img, :active img, :hover img, fieldset, abbr, acronym { border:0 }
a{text-decoration:none;}
table { border-collapse:collapse; border-spacing:0 }
th, caption { text-align:left }
form { display:inline; margin:0; padding:0 }
input, select { font:1em/1.25 Arial, Helvetica, sans-serif }
input[type="button"] { cursor:pointer }
blockquote, q {  quotes: none }
:focus { outline: 0 }
label:hover { cursor:pointer }
ol, ul { list-style: none }
.bx { margin-bottom:10px }
.block { display:block }
.nowrap { white-space:nowrap !important }
.hlink { text-decoration:none !important }
.hlink:hover { text-decoration:underline !important }
.clr { font-size:0; clear:both; height:0; line-height:0 }
.red { color:#d10000 !important }
.gray { color:#777 !important }
.black { color:#000 !important }
.orange { color:#f63 !important }
.green { color:#429706 !important }
section, header, footer, nav { display:block }
form input[type=text] { color:#565c62 }
form input[type=submit] { cursor:pointer }
form input[type=submit]:hover { opacity:.9 }
form input.placeholder { font:bold 12px Arial; color:#bbb !important }
textarea
{
   resize: none;
}
header,footer,nav,slider,article,aside,section{display:block;}

img {
	max-width: 100%;
	height: auto;
}

a, a:hover{
-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
cursor:pointer;
}
li, li:hover{
-webkit-transition: all 200ms ease;
-moz-transition: all 200ms ease;
-ms-transition: all 200ms ease;
-o-transition: all 200ms ease;
transition: all 200ms ease;
cursor:pointer;
}

/* Wow plugin */
html{
	max-width:100% !important;
	overflow-x:hidden !important;
}

/*---[ Conteiner/Strona glowna ]----------------g p d l--------------------------------------*/
body{
	font-family: 'Roboto', sans-serif;
	position: relative;
	background: url(images/grass.jpg) no-repeat;
	z-index: -1;
}
#header img{
 display: block;
 margin: 0 auto;
}
#main_img{
	margin-top: 20px !important;
	height: 240px;
	width: 340px;	
	opacity: 0;
	-webkit-transition:opacity 1.0s linear 0s ;
	transition:opacity 1.0s linear 0s ;
}
#select_group{
	position: absolute;
	top: 10px;
	left: 10px;

}
#main_area{
	padding-top: 25px;
	text-align: center;
	position: relative;
}
#main_area p {
	font-size: 2.0em;
	color: blue;
}
#main_area input{
	min-width: 400px;
	margin-bottom: 20px;
}
#main_area ul{
font-size: 1.8em;
color: black;
text-align: center;
}
#main_area ul li{
	padding: 5px;
}
#main_area ul li:hover{
	color: #a218cd;
}
#listen_btn{
	position: absolute;
	right: 290px;
	top: 130px;
	background: none;
	font-size: 1.4em;
	padding:5px;
	border: none;
	min-width: 50px;
	border-radius: 5px;
}
#listen_btn img{
	width: 50px;
}
#next_btn{
	position: absolute;
	top: 230px;
	right: 270px;
	background:none;
	min-width: 100px;
	font-size: 1.4em;
	border: none;
	border-radius: 5px;
	padding: 10px;
	border:1px solid green;
}
#next_btn:hover{
	background:lightgreen;
	
}
#answer_list li{
	max-width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#answer_list li:hover{
	background-color: 
}
#correct_answers{
	position: absolute;
	left: 200px;
	top:170px;
}
.gray_effect {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 2em;
    color: red;
}
.gray_effect span {
     opacity: 0;
     animation: loading 3s linear infinite alternate;
}
@keyframes loading {
    to {
        opacity: 1;
    }
}
.gray_effect span:nth-child(2) {
    animation-delay: 0.25s;
}

.gray_effect span:nth-child(3) {
    animation-delay: 0.5s;
}

.gray_effect span:nth-child(4) {
    animation-delay: 0.75s;
}

.gray_effect span:nth-child(5) {
    animation-delay: 1s;
}

.gray_effect span:nth-child(6) {
    animation-delay: 1.25s;
}
.wrong_answer{
	color:red !important;
}
.correct_answer{
	color:green !important;
}
.good_result{
	color: green !important;
}
.bad_result{
	color: red !important;
	}
#img_good_result{
	position: relative;
	top: -90px;
	left: -430px;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
	width: 250px;
}
@keyframes rozwin
{
	0% {left:-390px;
		top: -20px;
		transform: rotateX(180deg);	
	}
	60%{
		left: -50px;
		top: -50px;
	}
	100%{
		left: -50px;
		top:-20px;
	}
}

